
<!DOCTYPE html>
<html lang="en">
  <link rel="alternate" type="application/rss+xml" title="PillowSoft RSS Feed" href="/feed.xml" />
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <link rel="shortcut icon" href="/user_assets/favicon.ico"/>



  <title>IAPSN</title>

 <!-- Custom styles for this template -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css" />

  <link href="/assets/stylesheets/site.css" rel="stylesheet" type="text/css" />
  <link href="/assets/nanogallery/css/nanogallery.css" rel="stylesheet" type="text/css" />


  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="/assets/stylesheets/javascripts/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

  



</head>

  <body>
  	
<!-- Static navbar -->

<div class="navbar navbar-default navbar-fixed-top" role="navigation">


  <div class="container">
    






    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" style="padding: 5px;" href="#"><img src="/user_assets/images/iapsn-navbar-logo.jpg"></a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
            
            <li class=""><a href="/index.html">Home</a></li>
            
            <li class=""><a href="/about.html">About Members</a></li>
            
            <li class=""><a href="/join-our-network.html">Join</a></li>
            
            <li class=""><a href="/members.html">For Members</a></li>
            
            <li class=""><a href="/find-a-sitter.html">Find A Sitter</a></li>
            
            <li class=""><a href="/resources.html">Resources</a></li>
            
            <li class=""><a href="/postings.html">Blog</a></li>
            
        </ul>
    </div>




  </div>
</div>


    <div class="container">
      


<div class="template_dummy"> </div>

<!-- BEGIN: Underscore Template Definition. -->
<script type="text/template" class="template">

	<% var tagOrCategory = (rc.currentTag != null && rc.currentTag != undefined) ? rc.currentTag : ((rc.currentCategory != null && rc.currentCategory != undefined) ? rc.currentCategory : "Recent Posts"); %>

	<h2><%-tagOrCategory%></h2>
	<%
		var matchingPosts = (rc.currentTag != null && rc.currentTag != undefined) ? _.filter(rc.posts, function(post){ return post.tags.indexOf(rc.currentTag) != -1; }) :
																((rc.currentCategory != null && rc.currentCategory != undefined) ? _.filter(rc.posts, function(post){ return post.categories.indexOf(rc.currentCategory) != -1; }) : rc.posts) ;
    %>
    <% _.each( matchingPosts, function(post){ %>
    	<h3 class="h2link"><a href="<%-post.url%>"><%-post.title%></a></h3>
    	<div class="date">
    	<% var dateString = moment(post.date).format('MMMM Do YYYY'); %>
		Posted: <span><%- dateString %>.</span>
		Tags:
			<% _.each( post.tags, function( tag, index ){ %>
				<span>
					<a href="/summaries.html?tag=<%- tag %>"><%- tag %></a>
					<% if ( index < (post.tags.length-1) ){ %>, <% } %>
				</span>
			<% }); %>
		Categories:
			<% _.each( post.categories, function( category, index ){ %>
				<span>
					<a href="/summaries.html?category=<%- category %>"><%- category %></a>
					<% if ( index < (post.categories.length-1) ){ %>, <% } %>
				</span>
			<% }); %>
		</div>
		<p class="view">
			<br/>
			<%- post.excerpt %><a href="<%- post.url %>" class="more"> Read the post in full</a>
		</p>
    <% }); %>


</script>
<!-- END: Underscore Template Definition. -->

 <script type="text/javascript">
  // var $ = require('jquery');
	// var $ = require('lodash');

 $(function(){
    //DOM loaded

 	 $.getJSON( "/json/collections.json", function( data ) {

	    // find what category we shoudl show...if not specified, show all, by category
	    var url = $.url(); // parse the current page URL
	    var currentCategory = url.param('category');
			var currentTag = url.param('tag');

			if (currentCategory != null && currentCategory != undefined) {
				//currentCategory = currentCategory.toLowerCase();
				console.log("Category: " + currentCategory);
			}

			if (currentTag != null && currentTag != undefined) {
				//currentTag = currentTag.toLowerCase();
				console.log("Tag: " + currentTag);
			}

	    var posts = data.posts;

			var totalPages = posts.length;
			//console.log("Total page count: " + totalPages);

	    // When rending an underscore template, we want top-level
	    // variables to be referenced as part of an object. For
	    // technical reasons (scope-chain search), this speeds up
	    // rendering; however, more importantly, this also allows our
	    // templates to look / feel more like our server-side
	    // templates that use the rc (Request Context / Colletion) in
	    // order to render their markup.
	    _.templateSettings.variable = "rc";

			var passedData = {
				posts: data.posts,
				currentTag: currentTag,
				currentCategory : currentCategory
			}

	    // Grab the HTML out of our template tag and pre-compile it.
	    var template = _.template(
	        $( "script.template" ).html()
	    );

	    // Render the underscore template and inject it after the H1
	    // in our current DOM.
	    $( "div.template_dummy" ).after(
	        template( passedData )
	    );
	});
});
</script>



    </div>
    
<br>
<hr>
<br>
<footer>
	<p class="site-footer">All contents &copy; IAPSN.  All rights reserved</p>
	<p class="site-footer">Website development by <a href="http://www.pillowsoft.com" title="PillowSoft LLC Home Page"/>PillowSoft<a>.</p>

</footer>

    
<script src="/assets/js/main.js" type="text/javascript"></script>
<script src="/assets/js/audiojs/audio.min.js" type="text/javascript"></script>
<script src="/assets/javascripts/knockout-3.2.0.js" type="text/javascript"></script>

<script src="/assets/nanogallery/third.party/imagesloaded/imagesloaded.pkgd.min.js" type="text/javascript"></script>
<script src="/assets/nanogallery/third.party/transit/jquery.transit.min.js" type="text/javascript"></script>
<script src="/assets/nanogallery/jquery.nanogallery.js" type="text/javascript"></script>


    
    <script type="text/javascript">
      $(document.links).filter(function() {
        return this.hostname != window.location.hostname;
      }).attr('target', '_blank');
    </script>
  </body>
</html>
